

.mt-6 {
    margin-top: 1.5rem !important;
}

.text-white {
    color: #fff !important;
}

h2 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 700;
    line-height: 1.2;
}


.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.text-light {
    color: #F5F5F4 !important;
}