@import 'overlay';

#header {
  position: absolute;
  z-index: 10;
  width: 100%;
}



.nav-item {
  text-transform: uppercase;

  a {
    color: #fff;

    &:hover {
      color: #fbdc83;
    }
  }
}

.main {
  position: relative;
  background-image: url('../images/black-family-bible.jpg');
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 207px 0 220px;

  .text-white {
    color: #fff;
    font-size: calc(1.525rem + 3.3vw);
  }

  .text-secondary {
    color: #fbdc83 !important;
  }

  .bg-dark {
    background-color: #001410 !important;
  }
}

.btn-secondary {
  color: #001410 !important;
  background-color: #fbdc83;
  border-color: #fbdc83 !important;
  cursor: pointer;
  border: 1px solid transparent !important;
  padding: 9px 22px !important;
  font-size: 0.875rem !important;
  border-radius: 5px;
  margin-right: 80px;
  left: 531px;

  &:hover {
    background-color: gold !important;
    color: #001410;
  }
}

#main-nav {
  position: fixed; /* Changed from 'relative' to 'fixed' */
  z-index: 9999;
  width: 100%; /* Added width to ensure full width of the navbar */

  &.scrolled {
    background-color: #fff; // Set your desired background color for the scrolled navbar
    box-shadow: 5px 2px 1px rgba($color: #776e6e, $alpha: 1.0);

    .nav-item {
      a {
        color: #000; // Set your desired color for the scrolled navbar links
      }
    }

  }

  .navbar-toggler {
    z-index: 11;
    background-color: beige;
  }

  .navbar-nav {
    @media screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    > li {
      margin: 0;

      > .nav-link {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          transform: scaleX(0);
          transition: transform 0.2s ease-out;
        }

        &:hover:before {
          transform: scaleX(1);
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: #fbdc83;
          transform: scaleX(0);
          transition: transform 0.2s ease-out;
        }

        &:hover:after {
          transform: scaleX(1);
        }
      }
    }

    a {
      color: #fff;
    }
  }

  @media screen and (max-width: 991px) {
    .overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &.navbar-open .overlay {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .btn-secondary {
    left: 25px !important;
  }
}

@media (max-width: 1024px) {
  .btn-secondary {
    left: 25px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .btn-secondary {
    left: 312px;
  }
}

@media (min-width: 1441px) and (max-width: 1888px) {
  .btn-secondary {
    left: 444px;
  }
}

@media (max-width: 414px) {
  .btn-secondary {
    left: 37px !important;
  }
}
