
.bg-warning-light {
    --bs-bg-opacity: 1;
    background-color: #fbdc83!important;
}

.badge {
    display: inline-block;
    padding: 0.375rem 0.5rem;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1;
    color: #1c1917;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.p-6 {
    padding: 1.5rem!important;
}

.py-20-h {
    padding-top: 7rem!important;
    padding-bottom: 5rem!important;
}

.h2-bp {
    font-size: 3rem;
}

.h3-bp {
    font-size: 2.25rem;
}

.title-sep {

    h2 {
    position: relative;
}

h2:before {
    content: "";
    display: block;
    width: 220px !important;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
  }

  h2:after {
    content: "";
    display: block;
    width: 220px !important;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  }

}

@media (max-width: 768px) {

    .title-sep {

        h2:before {
            width: 51px !important;
        }

        h2:after {
            width: 51px !important;
        }
    }

}

@media (max-width: 414px) {

    .title-sep {

        h2:before {
            width: 0px !important;
        }

        h2:after {
            width: 0px !important;
        }
    }

}